<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowPrefecture</key>
	<array>
		<string>東京都</string>
		<string>千葉県</string>
		<string>神奈川県</string>
		<string>埼玉県</string>
		<string>茨城県</string>
		<string>群馬県</string>
		<string>栃木県</string>
	</array>
	<key>ProgramUrl</key>
	<string>http://radiko.jp/v2/api/program</string>
	<key>RadikoPlayer</key>
	<dict>
		<key>AppFormat</key>
		<string>%@/_defInst_</string>
		<key>Auth1Url</key>
		<string>https://radiko.jp/v2/api/auth1_fms</string>
		<key>Auth2Url</key>
		<string>https://radiko.jp/v2/api/auth2_fms</string>
		<key>FlashVersion</key>
		<string>WIN 10,1,53,64</string>
		<key>HostName</key>
		<string>radiko.smartstream.ne.jp</string>
		<key>PlayPath</key>
		<string>simul-stream</string>
		<key>Port</key>
		<integer>1935</integer>
		<key>Protocol</key>
		<string>rtmpe</string>
		<key>SwfUrl</key>
		<string>http://radiko.jp/player/swf/player_2.0.1.00.swf</string>
	</dict>
	<key>HashTags</key>
	<dict>
		<key>802</key>
		<string>#fm802</string>
		<key>ABC</key>
		<string>#abcradio</string>
		<key>CCL</key>
		<string>#fmcocolo</string>
		<key>FMJ</key>
		<string>#jwave</string>
		<key>FMO</key>
		<string>#fmosaka</string>
		<key>FMT</key>
		<string>#tokyofm</string>
		<key>INT</key>
		<string>#interfm</string>
		<key>LFR</key>
		<string>#jolf</string>
		<key>MBS</key>
		<string>#mbsradio</string>
		<key>NSB</key>
		<string>#radionikkei</string>
		<key>OBC</key>
		<string>#obc</string>
		<key>QRR</key>
		<string>#joqr</string>
		<key>TBS</key>
		<string>#tbsradio</string>
		<key>BAYFM78</key>
		<string>#bayfm</string>
		<key>NACK5</key>
		<string>#nack5</string>
		<key>YFM</key>
		<string>#fmyokohama</string>
		<key>JORF</key>
		<string>#jorf</string>
		<key>TOKAIRADIO</key>
		<string>#tokairadio</string>
		<key>CBC</key>
		<string>#cbc1053</string>
		<key>GBS</key>
		<string>#gifuchan</string>
		<key>ZIP-FM</key>
		<string>#zipfm</string>
		<key>FMAICHI</key>
		<string>#fmaichi</string>
	</dict>
	<key>SettingValues</key>
	<dict>
		<key>SettingAutoRefresh</key>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Names</key>
			<array>
				<string>disabled</string>
				<string>30 seconds</string>
				<string>1 minute</string>
				<string>3 minutes</string>
				<string>5 minutes</string>
				<string>10 minutes</string>
			</array>
			<key>Title</key>
			<string>Auto Refresh</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>30</integer>
				<integer>60</integer>
				<integer>180</integer>
				<integer>300</integer>
				<integer>600</integer>
			</array>
		</dict>
		<key>SettingBufferSize</key>
		<dict>
			<key>DefaultValue</key>
			<integer>32000</integer>
			<key>Names</key>
			<array>
				<string>16KB</string>
				<string>32KB</string>
				<string>64KB</string>
				<string>96KB</string>
				<string>128KB</string>
			</array>
			<key>Title</key>
			<string>Buffer Size</string>
			<key>Values</key>
			<array>
				<integer>16000</integer>
				<integer>32000</integer>
				<integer>64000</integer>
				<integer>96000</integer>
				<integer>128000</integer>
			</array>
		</dict>
		<key>SettingInitialLoad</key>
		<dict>
			<key>DefaultValue</key>
			<integer>20</integer>
			<key>Names</key>
			<array>
				<string>20 posts</string>
				<string>50 posts</string>
				<string>100 posts</string>
				<string>200 posts</string>
			</array>
			<key>Title</key>
			<string>Initial Load</string>
			<key>Values</key>
			<array>
				<integer>20</integer>
				<integer>50</integer>
				<integer>100</integer>
				<integer>200</integer>
			</array>
		</dict>
		<key>SettingInitialPlay</key>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Names</key>
			<array>
				<string>Off</string>
				<string>On</string>
			</array>
			<key>Title</key>
			<string>Initial Play</string>
			<key>Values</key>
			<array>
				<false/>
				<true/>
			</array>
		</dict>
	</dict>
	<key>StationUrl</key>
	<string>http://radiko.jp/station/</string>
</dict>
</plist>
